* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero.png);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1vw 2vw 0 2vw;
}